* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
a{
  text-decoration: none;
  color: #000000;
  
}
main{
  margin-top: 60px;
}

.header {
  margin: 30px, 5%;
  display: grid;
  grid-template-columns: 1fr 2fr 1fr;
  
  align-items: center;
  padding: 10px 0;
}

@media screen and (max-width: 1000px) {
  .header {
    grid-template-columns: 1fr;
    justify-items: center;
  }
}

body{
  padding:0 20vw;
}

.logotip {
  width: 110px;
  height: 110px;
  margin-left: 20px;
}

.menu-button {
  background: none;
  border: none;
  cursor: pointer;
}

.search-icon-container {
  position: relative;
  width: 100%;
  margin: 0 auto;
}

.search-icon-container input {
  border: none;
  outline: none;
  width: 100%;
  max-width: 770px;
  height: 45px;
  border-radius: 10px;
  font-size: 15px;
  background-color: #EAEAEA;
  padding-left: 10px;
  padding-right:10px;
  margin-right: 10px;
}

.search-button {
  position: absolute;
  right: 8px;
  top: 50%;
  transform: translateY(-50%);
  border: none;
  background-color: transparent;
  cursor: pointer;
}

button.button {
  margin: 0px 10% 0px 10%;
  padding: 0 15px;
  width: 96px;
  height: 45px;
  background-color: black;
  color: white;
  border-radius: 10px;
  font-size: 20px;
  font-weight: bold;
  transition: background-color 0.3s;
}

button.button:hover {
  background-color: #ffffff;
  color: black;
}

.avatar {
    width: 73px;
    height: 73px;
    border-radius: 50%;
}
.newVideo h1 {
    font-size: 25px;
    font-weight: bold;
    margin-bottom: 60px;
    text-align: center;
}



.button-columns {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    row-gap: 15px;
    column-gap: 10vw;

}

@media screen and (max-width: 600px) {
  .button-columns{
    grid-template-columns: 1fr;
  }
  
}

.styled-button:hover {
    background: #e0e0e0;
}


.button-column a:hover {
    background: #CFCFCF;
}

.button-column a span {
    color: #858585;
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
}

body {
    font-family: Arial, sans-serif;
    background-color: #f9f9f9;
    color: #333;
}


.newVideo h1 {
    font-size: 25px;
    font-weight: bold;
}

.newVideo {
    text-align: center;
}


.styled-button:hover {
    background: #e0e0e0; 
}

.button-columns a {
    display: block;
    padding: 10px 10px;
    background: #EAEAEA;
    color: #000000;
    border-radius: 10px;
    text-decoration: none;
    text-align: left;
    position: relative;
}

.button-columns a:hover {
    background: #CFCFCF;
}

.button-columns a span {
    color: #858585;
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
}


.Nedavno-Smotreli {
    text-align: center;
    padding: 90px 0;
}

.button-columns3 {
    display: flex;
    justify-content: center;
    gap: 20px;
    padding: 15px 0;
}

.button-columns3 a{
    background: #EAEAEA;
    border-radius: 10px;
    padding: 10px 5vw;

}

.button-columns3 a:hover {
    background: #CFCFCF;
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    transform: scale(1.1);
    font-size: 20px;
    opacity: 0;
    transition: opacity 1s;
}

.overlay span{
  opacity: 0;
   color: white;
   text-align: center;
   padding: 10px;
}

.overlay:hover span{
  opacity: 1;
}

.item-poster:hover .overlay {
    opacity: 1;
    background-color: rgba(0, 0, 0, 0.5);
    width: 100%;
    height: 100%;
    display: grid;
    align-items: center;
    justify-items: center;

}

.item-poster {
  border-radius: 10px;
  position: relative;
  overflow: hidden;
}

.item-poster img {
    transition: transform 0.2s;
}

.item-poster:hover img {
    transform: scale(1.1);
}

.image-conect {  
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: repeat(2, auto);
  gap: 20px;
  padding: 25px 0;
}


  
.image-conect a img{
  object-fit: cover;
  width: 100%;
  height: 100%;
}

/* .item-poster::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 150%;
    height: 150%;
    background-color: rgba(0, 0, 0, 0.5);
    opacity: 0;
    transition: opacity 0.2s;
} */

/* .item-poster:hover::after {
    opacity: 1;
} */

/* ПАГИНАТООООР */

.pagination-container {
    display: flex;
    justify-content: center;
    gap: 5px;
    margin-top: 60px;
  }
.pagination {
  display: flex;
  justify-content: center;
  gap: 5px;
  width: 100%;
  font-size: 1.2rem;
}
.pagination-button {
  background-color: white;
  color: black;
  border: 3px solid black;
  padding: 10px 15px;
  cursor: pointer;
  border-radius: 5px;
  transition: all 0.3s ease;
  animation: pulse 0.3s ease-in-out;
}
.pagination-button:hover {
  background-color: #CFCFCF;
}
.pagination-button.active {
  background-color: black;
  color: white;
}
#prev-page, #next-page {
  padding: 0;
  width: 30px;
  height: 30px;
  border-radius: 50%;
}



/* АНИМАЦИЯЯЯЯЯЯЯЯЯЯЯЯЯЯЯ */

.animated {
    animation: pulse 0.3s ease-in-out;
  }
  
  @keyframes pulse {
    0% {
      transform: scale(1);
    }
    50% {
      transform: scale(1.1);
    }
    100% {
      transform: scale(1);
    }
  }


.footer-text {
  text-align: left;
  margin-top: 100px;
  margin-bottom: 100px;
  font-size: 1.2rem;
  line-height: 1.5rem;
  color: rgb(0, 0, 0);
}

.footer-text strong{
  font-size: 25px;
  font-weight: bold;
  margin-bottom: 30px;
}

.footer-text p{
  margin-top: 15px;

}


footer {
  color: #858585;
  display: grid;
  grid-template-columns: 80px repeat(2,1fr);
  align-items: center;
}

footer strong{
  justify-self: start;
}

footer img{
  width: 64px;
  height: 64px;
}
footer div ul{
  display: flex;
  justify-self: end;
  column-gap: 4vw;
}

footer div ul li a{
  text-decoration: none;
}


.filter-container {
  display: flex;
  align-items: center;
  gap: 20px;
}

.filter-button {
  border: none;
  background-color: transparent;
  cursor: pointer;
  font-size: 20px;
  color: #000;
  padding: 10px 20px;
  border-bottom: 2px solid transparent;
}

.filter-button:hover {
  color: #333;
}

.filter-button.active {
  color: #000;
  border-color: #000;
}




